.container {
    max-width: 600px;
    padding: 25px;
}

.jumbotron {
  background-color: white;
}

.jumbotron h4{
  text-align: right;
  margin-right: 15px;
}

.btn {
  margin: 25px 15px 0px 15px;
  color: white;
}

body {
  color: white;
}

#quoteAJAX {
   float: right;
}

#tweet-quote {
   float: left;
}

p, a{
  color: white;
  text-align: center;
}
